<app-nav></app-nav>

<div class="container">
  <h1 class="titulo">Series TV</h1>
  <div class="bloque_series">
    <div class="caratulas" *ngFor='let tvShow of tvShows["results"]'>

      <span class="poster">
        <a href="#"><img src="https://image.tmdb.org/t/p/w92{{tvShow.poster_path}}"
            alt="{{tvShow.name | uppercase}}" /></a>
      </span>

      <p> Nombre: {{tvShow.name | uppercase}}</p>

      <p>Fecha Estreno: {{tvShow.first_air_date}}</p>

      <p>Votación: {{tvShow.vote_average}}</p>
    </div>
  </div>
  <div class="paginas">
    <!-- <h1 class="paginacion">Páginas: {{tvShows["total_pages"]}}</h1> -->
  <p class="paginas numero_paginas" *ngFor='let pagina of [].constructor(tvShows["total_pages"]);let num=index;'>
    <!-- <a href="#">{{num+1}}</a> -->
    <button type="button" [routerLink]="['/series',num]">Series</button>
  </p>
  </div>
</div>
